--
-- PostgreSQL database dump
--

\restrict 25tTTjL75VnCxJ53o6PtdlW8Zte2ZeOFsDA4QWlW695bCHpRrfD0sdtAJS390AI

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO solvro_admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO solvro_admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO solvro_admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO solvro_admin;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO solvro_admin;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO solvro_admin;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cocktails_cocktail; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.cocktails_cocktail (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    category character varying(100) NOT NULL,
    instructions text NOT NULL,
    author_id integer NOT NULL
);


ALTER TABLE public.cocktails_cocktail OWNER TO solvro_admin;

--
-- Name: cocktails_cocktail_favorited_by; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.cocktails_cocktail_favorited_by (
    id bigint NOT NULL,
    cocktail_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.cocktails_cocktail_favorited_by OWNER TO solvro_admin;

--
-- Name: cocktails_cocktail_favorited_by_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.cocktails_cocktail_favorited_by ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cocktails_cocktail_favorited_by_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cocktails_cocktail_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.cocktails_cocktail ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cocktails_cocktail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cocktails_cocktailingredient; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.cocktails_cocktailingredient (
    id bigint NOT NULL,
    amount character varying(50) NOT NULL,
    cocktail_id bigint NOT NULL,
    ingredient_id bigint NOT NULL
);


ALTER TABLE public.cocktails_cocktailingredient OWNER TO solvro_admin;

--
-- Name: cocktails_cocktailingredient_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.cocktails_cocktailingredient ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cocktails_cocktailingredient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cocktails_ingredient; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.cocktails_ingredient (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_alcoholic boolean NOT NULL,
    image character varying(100)
);


ALTER TABLE public.cocktails_ingredient OWNER TO solvro_admin;

--
-- Name: cocktails_ingredient_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.cocktails_ingredient ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cocktails_ingredient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO solvro_admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO solvro_admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO solvro_admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: solvro_admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: solvro_admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO solvro_admin;

--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: cocktails_cocktail_favorited_by cocktails_cocktail_favor_cocktail_id_user_id_b4b45075_uniq; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktail_favorited_by
    ADD CONSTRAINT cocktails_cocktail_favor_cocktail_id_user_id_b4b45075_uniq UNIQUE (cocktail_id, user_id);


--
-- Name: cocktails_cocktail_favorited_by cocktails_cocktail_favorited_by_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktail_favorited_by
    ADD CONSTRAINT cocktails_cocktail_favorited_by_pkey PRIMARY KEY (id);


--
-- Name: cocktails_cocktail cocktails_cocktail_name_key; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktail
    ADD CONSTRAINT cocktails_cocktail_name_key UNIQUE (name);


--
-- Name: cocktails_cocktail cocktails_cocktail_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktail
    ADD CONSTRAINT cocktails_cocktail_pkey PRIMARY KEY (id);


--
-- Name: cocktails_cocktailingredient cocktails_cocktailingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktailingredient
    ADD CONSTRAINT cocktails_cocktailingredient_pkey PRIMARY KEY (id);


--
-- Name: cocktails_ingredient cocktails_ingredient_name_key; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_ingredient
    ADD CONSTRAINT cocktails_ingredient_name_key UNIQUE (name);


--
-- Name: cocktails_ingredient cocktails_ingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_ingredient
    ADD CONSTRAINT cocktails_ingredient_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: cocktails_cocktail_author_id_c777e630; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX cocktails_cocktail_author_id_c777e630 ON public.cocktails_cocktail USING btree (author_id);


--
-- Name: cocktails_cocktail_favorited_by_cocktail_id_4dc5b51e; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX cocktails_cocktail_favorited_by_cocktail_id_4dc5b51e ON public.cocktails_cocktail_favorited_by USING btree (cocktail_id);


--
-- Name: cocktails_cocktail_favorited_by_user_id_c8470b0e; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX cocktails_cocktail_favorited_by_user_id_c8470b0e ON public.cocktails_cocktail_favorited_by USING btree (user_id);


--
-- Name: cocktails_cocktail_name_a91a512d_like; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX cocktails_cocktail_name_a91a512d_like ON public.cocktails_cocktail USING btree (name varchar_pattern_ops);


--
-- Name: cocktails_cocktailingredient_cocktail_id_af5d4ac9; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX cocktails_cocktailingredient_cocktail_id_af5d4ac9 ON public.cocktails_cocktailingredient USING btree (cocktail_id);


--
-- Name: cocktails_cocktailingredient_ingredient_id_4089703f; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX cocktails_cocktailingredient_ingredient_id_4089703f ON public.cocktails_cocktailingredient USING btree (ingredient_id);


--
-- Name: cocktails_ingredient_name_fcb5171a_like; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX cocktails_ingredient_name_fcb5171a_like ON public.cocktails_ingredient USING btree (name varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: solvro_admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cocktails_cocktail cocktails_cocktail_author_id_c777e630_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktail
    ADD CONSTRAINT cocktails_cocktail_author_id_c777e630_fk_auth_user_id FOREIGN KEY (author_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cocktails_cocktail_favorited_by cocktails_cocktail_f_cocktail_id_4dc5b51e_fk_cocktails; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktail_favorited_by
    ADD CONSTRAINT cocktails_cocktail_f_cocktail_id_4dc5b51e_fk_cocktails FOREIGN KEY (cocktail_id) REFERENCES public.cocktails_cocktail(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cocktails_cocktail_favorited_by cocktails_cocktail_f_user_id_c8470b0e_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktail_favorited_by
    ADD CONSTRAINT cocktails_cocktail_f_user_id_c8470b0e_fk_auth_user FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cocktails_cocktailingredient cocktails_cocktailin_cocktail_id_af5d4ac9_fk_cocktails; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktailingredient
    ADD CONSTRAINT cocktails_cocktailin_cocktail_id_af5d4ac9_fk_cocktails FOREIGN KEY (cocktail_id) REFERENCES public.cocktails_cocktail(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cocktails_cocktailingredient cocktails_cocktailin_ingredient_id_4089703f_fk_cocktails; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.cocktails_cocktailingredient
    ADD CONSTRAINT cocktails_cocktailin_ingredient_id_4089703f_fk_cocktails FOREIGN KEY (ingredient_id) REFERENCES public.cocktails_ingredient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: solvro_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 25tTTjL75VnCxJ53o6PtdlW8Zte2ZeOFsDA4QWlW695bCHpRrfD0sdtAJS390AI

